.app-layout {
  display: flex;
  flex: 1;
  max-height: 100%;
  overflow: auto;
  .app-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    background-color: var(--soulside-palette-grey-100);
  }
  .app-outlet-container {
    margin: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    padding: 15px;
    border-radius: calc(1 * var(--soulside-shape-borderRadius));
    background-color: #fff;
  }
}
